

body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

.flex-container{
    display: flex;
}

.half-width{
    width: 50%;
}
/* Header section css */

.header-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: crimson;
}
.header-logo{}
.header-logo img {
    margin-left: 50px;
    width: 30%;
    margin-top: 10px;
    border: 1px solid crimson;
    border-radius: 18px;
}
.header-menu{}
.header-menu ul{}
.header-menu ul li{
    list-style: none;
}
.header-menu ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    transition: 0.5s;
}
.header-menu ul li a:hover{
    color: black;
}

/* Top section css */

.top-body {
    padding: 60px 50px;
}
.top-body h1 {
    font-size: 36px;
    margin-bottom: -20px;
    font-weight: 700;
}
.top-body h1 span{
    color: rgb(207, 5, 46);
}
.top-body p {
    font-size: 20px;
    font-weight: 300;
    margin: 50px 0;
}
.btn {
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 10px 35px;
    border-radius: 28px;
    color: #fff;
    background-image:linear-gradient(deeppink, crimson );
}
.top-image img{
    width: 100%;
}

/* About section css */
.about-section{
    background-image: url(/images/shapes/Frame-58\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}
.about-image{
    
}
.about-image img {
    max-width: 54%;
    padding-left: 30%;
}
.about-text{
    padding: 70px 0;
}
.about-text h2{
    font-size: 36px;
}
.about-text p {
    font-size: 20px;
    font-weight: 400;
    padding: 15px 0 50px 0;
}

/* Recipies section css */
.recipies-section{
    padding: 50px 0;
}
.recipies-top{
    width: 50%;
    margin: auto;
    text-align: center;
}
.recipies-top h1{
    font-size: 40px;
}
.recipies-top p {
    font-size: 20px;
    font-weight: 400;
}

.recipies-bottom{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.item{
    width: 29.3%;
    background-color: #fff;
    border-radius: 6%;
    margin: auto;
    text-align: center;
    box-shadow: 10px 10px 40px #444;
}
.item-image{
    width: 90%;
    padding-top: 18px;
}
.item-image img {
    max-width: 100%;
    border-radius: 10%;
    padding-left: 18px;
}

.item-body{}
.item-body h1{
    font-size: 32px;
}
.item-body p {
    font-size: 18px;
    padding: 5px 10px;
    font-weight: 500;
    color: #767676;
}
/* social section css */

.social-section{
    padding: 50px 0;
    width: 75%;
    margin: auto;
}

.subscribers{
    width: 33.3%;
    margin: auto;
    text-align: center;
}
.subscribers h1{
    font-size: 32px;
    margin-bottom: 0;
}
.subscribers p{}