

body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

.flex-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
}
/* Top section css */

.top-body {
    padding: 60px 50px;
}
.top-body h1 {
    font-size: 36px;
    margin-bottom: -20px;
    font-weight: 700;
}
.top-body h1 span{
    color: rgb(207, 5, 46);
}
.top-body p {
    font-size: 20px;
    font-weight: 300;
    margin: 50px 0;
}
.top-body a {
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 10px 35px;
    border-radius: 28px;
    color: #fff;
    background-image:linear-gradient(deeppink, crimson );
}
.top-image img{
    width: 100%;
}